<launch>

  <!-- visualization -->
  <node name="dvs_of" pkg="dvs_of" type="dvs_of">
     <remap from="events" to="/dvs/events"/>
     <remap from="camera_info" to="/dvs/camera_info"/>
     <remap from="imu" to="/dvs/imu"/>
  </node>

  <!-- camera driver -->
  <node name="davis_ros_driver" pkg="davis_ros_driver" type="davis_ros_driver" output="screen" />

  <node name="foe_estimator" pkg="foe_estimator" type="foe_estimator" output="screen" />

  
  <node name="object_detection" pkg="object_detection" type="object_detection" output="screen" />

</launch>
